.carousel {
  position: relative;
  z-index: 2;
  margin-bottom: -160px;

  @media screen and (min-width: 768px) { 
    flex: 1 1 50%;
    margin-bottom: 0;
  }

  @media screen and (min-width: 992px) { 
    flex: 1 1 60%;
  }

  img {
    width: 100%;
    display: block;
    margin-left: 25px;

    @media screen and (min-width: 768px) { 
      margin-left: 0;
    }
  }
}